# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Problem-Solving-Questions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
